.image-part1 {
  position: relative;
  background-color: var(--color-lightblue);
  width: 59.56rem;
  height: 67.5rem;
  overflow: hidden;
  flex-shrink: 0;
}
.close-button-icon {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  cursor: pointer;
}
.jump-into-sait {
  margin: 0;
}
.jump-into-sait-container {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.icon,
.label {
  position: absolute;
}
.label {
  top: 0;
  left: 0;
}
.icon {
  top: 3px;
  right: 49px;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.hide,
.password-hide-see {
  position: absolute;
  top: 0;
  right: 0;
}
.password-hide-see {
  right: 8.86px;
  width: 4.56rem;
  height: 1.69rem;
  text-align: right;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-300);
}
.label-parent {
  align-self: stretch;
  height: 1.69rem;
}
.div2,
.inputs-child,
.label-parent {
  position: relative;
}
.inputs-child {
  background-color: var(--color-gray-500);
  width: 0.06rem;
  height: 1.5rem;
}
.icons,
.inputs {
  position: absolute;
  display: none;
}
.inputs {
  top: 15px;
  left: 24px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icons {
  top: 40px;
  right: 24px;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
}
.text-field1 {
  align-self: stretch;
  position: relative;
  color: var(--color-gray-500);
}
.error-message {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-crimson);
  display: none;
}
.text-field {
  width: 35.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  z-index: 0;
}
.icons1 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sign-up1 {
  position: relative;
  font-weight: 500;
}
.icons-parent {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 51px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button {
  position: absolute;
  margin: 0 !important;
  top: 217px;
  left: 20px;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-500);
  width: 33rem;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.25;
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.password-form {
  align-self: stretch;
  height: 18.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 1.06rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.password-form-container {
  position: absolute;
  top: calc(50% - 315.5px);
  left: calc(50% - 304px);
  width: 38rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.25rem;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  gap: var(--gap-10xl);
}
.sign-up-part1,
.sign-up-password {
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
}
.sign-up-part1 {
  width: 60.38rem;
  height: 67.5rem;
  flex-shrink: 0;
}
.sign-up-password {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0 0 0 var(--padding-12xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
