.dont-have-an {
  color: var(--color-darkslategray-200);
}
.span {
  color: var(--color-dimgray-100);
}
.span1 {
  text-decoration: underline;
}
.dont-have-an-container {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}

.text {
  flex-direction: row;
  padding: var(--padding-11xs);
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.sign-up-redirect {
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
}
.sign-in {
  width: 46.44rem;
  height: 64rem;
  flex-shrink: 0;
  z-index: 1;
}
.image-icon,
.login,
.sign-in {
  position: relative;
  overflow: hidden;
}
.image-icon {
  width: 43.63rem;
  height: 63.88rem;
  flex-shrink: 0;
  z-index: 0;
}
.login {
  background-color: var(--color-white);
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
