.jump-into-sait1 {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  text-align: center;
}
.icons3 {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.sign-up3 {
  position: relative;
  font-weight: 500;
}
.icons-group {
  position: absolute;
  top: calc(50% - 17px);
  left: calc(50% - 51px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button1 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-500);
  width: 33rem;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.25;
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
}
.email-form {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--font-size-base);
  color: var(--color-dimgray-100);
}
.divider1 {
  flex: 1;
  background-color: var(--color-dimgray-500);
  height: 0.13rem;
}
.divider1,
.or {
  position: relative;
}
.divider {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
  font-family: var(--font-avenir);
}
.continue-google-button,
.email-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.continue-google-button {
  align-self: stretch;
  cursor: pointer;
  font-size: var(--font-size-3xl);
  font-family: var(--font-avenir);
}
.email-container {
  position: absolute;
  top: calc(50% - 238px);
  left: calc(50% - 263.5px);
  width: 33rem;
  padding: var(--padding-2xs) 0;
  box-sizing: border-box;
  gap: var(--gap-26xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
