.email-container{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 11px 0px;
gap: 45px;

position: absolute;
width: 528px;
height: 591px;
left: calc(50% - 528px/2 + 0.5px);
top: calc(50% - 591px/2 - 0.5px);
}

.jump-sait{
  
width: 528px;
height: 48px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 48px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #333333;
}

.frm{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;

width: 528px;
height: 298px;

}

.input-heading{
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 528px;
height: 87px;


}

label{
  width: 528px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height */


color: #666666;

}

 #user,#pass {
  box-sizing: border-box;

width: 528px;
height: 56px;

border: 1px solid rgba(102, 102, 102, 0.35);
border-radius: 12px;
}

#btn {
  width: 528px;
height: 64px;

background: black;
opacity: 0.25;
border-radius: 32px;
color: white;
}
/*



My edit above*/
.sign-in2 {
  position: relative;
  font-weight: 500;
}
.forget-your-password {
  position: relative;
  text-decoration: underline;
}
.password-form1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.icons4 {
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.icons4,
.sign-up4 {
  position: relative;
}
.icons-container {
  position: absolute;
  top: calc(50% - 15.5px);
  left: calc(50% - 33.5px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.button2 {
  position: relative;
  border-radius: var(--br-13xl);
  background-color: var(--color-gray-500);
  width: 19rem;
  height: 4rem;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.25;
  cursor: pointer;
}
.dont-have-an1 {
  color: var(--color-darkslategray-200);
}
.span3 {
  color: var(--color-dimgray-100);
}
.span4 {
  text-decoration: underline;
}
.dont-have-an-container1 {
  position: relative;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.sign-up5 {
  position: relative;
  text-decoration: underline;
  cursor: pointer;
}
.text2 {
  display: flex;
  flex-direction: row;
  padding: var(--padding-11xs);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.button-container,
.sign-in-form,
.sign-up-redirect1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.button-container,
.sign-in-form {
  align-items: center;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}
.sign-in-form {
  gap: var(--gap-lg);
  text-align: right;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
}
.divider4 {
  flex: 1;
  position: relative;
  background-color: var(--color-dimgray-500);
  height: 0.13rem;
}
.divider3,
.sign-in-container {
  display: flex;
  align-items: center;
}
.divider3 {
  width: 35.5rem;
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  font-size: var(--font-size-lg);
  color: var(--color-dimgray-100);
  font-family: var(--font-avenir);
}
.sign-in-container {
  position: absolute;
  top: calc(50% - 312px);
  left: calc(50% - 284.5px);
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-29xl);
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
